<div class="jumbotron mt-2 bg-transparent p-1 p-sm-2 p-md-3 p-lg-5">
  <div class="row">
    <div class="col-sm-12 col-md-6 text-center text-sm-left">
      <h1 class="display-4 text-white font-weight-bold">OBYS ile Tasarruf Edin</h1>
      <p class="lead text-white">Cari Operasyonlarınızı yönetirken manuel işlemlerden kurtulup, personel
        kaynaklı
        hataları sıfıra indirin. İşemler daha hızlı ve güvenilir hale gelirken raporlarınız anlık iletilsin.
      </p>

      <p class="lead">
        <a class="btn btn-success btn-lg px-4" href="#" role="button">Teklif Alın!</a>
      </p>
    </div>
  </div>
</div>


</div>
<div class="half-triangle-left">
</div>
<div class="half-triangle-right">
</div>
</div>
</div>
<div class="offer-form-card-container container d-flex justify-content-end">
  <div class="card offer-form-card mb-4 text-white border-0 border-radius-3 overflow-hidden">
    <div class="card-body pb-3">
      <h4 class="card-title">Teklif almak ister misiniz?</h4>
      <p class="card-text ">Size özel en uygun web site teklifini ihtiyaçlarınıza göre hazırlayalım.</p>
      <form action="#" method="POST" class="offer-form">
        <div class="col-12 p-0">
          <div class="input-group mb-2">
            <input type="text" class="form-control bg-transparent text-white " autocomplete="off"
              id="validationCustomUsername" placeholder="Adınız soyadınız" required />
            <div class="input-group-append">
              <span class="input-group-text  bg-transparent border-0 text-white">
                <i class="fa fa-user-o"></i>
              </span>
            </div>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
          <div class="input-group mb-2">
            <input type="text" class="form-control bg-transparent text-white " autocomplete="off"
              id="validationCustomUsername" placeholder="E-posta hesabınız" required />
            <div class="input-group-append">
              <span class="input-group-text  bg-transparent border-0 text-white">
                <i class="fa fa-envelope-o"></i>
              </span>
            </div>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
          <div class="input-group mb-2">
            <input type="text" class="form-control bg-transparent text-white " autocomplete="off"
              id="validationCustomUsername" placeholder="Telefon numaranız" required />
            <div class="input-group-append">
              <span class="input-group-text  bg-transparent border-0 text-white">
                <i class="fa fa-phone"></i>
              </span>
            </div>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
          <div class="input-group mb-2">
            <div class="topic">
              <select class="form-control bg-transparent">
                <option selected value="Web Tasarım & Yazılım">Web Tasarım & Yazılım</option>
                <option value="Web Yazılım">Web Yazılım</option>
                <option value="SEO">SEO</option>
              </select>
              <div class="d-flex align-items-center justify-content-center p-2 bg-transparent border-0 text-white">
                <i class="fa fa-bullseye"></i>
              </div>
            </div>
          </div>
          <div class="input-group mb-2">
            <textarea rows="4" type=" text" class="form-control bg-transparent text-white " autocomplete="off"
              id="validationCustomUsername" placeholder="Mesajınız" required></textarea>
            <div class="input-group-append">
              <span class="input-group-text  bg-transparent border-0 text-white">
                <i class="fa fa-pencil"></i>
              </span>
            </div>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
        </div>
      </form>
    </div>
    <button class="btn btn-primary w-100 py-3 border-0 btn-lg border-radius-0">
      Şimdi Gönder
    </button>
  </div>
</div>
</div>

<div class="body-container" style="height: 1000px">

  <div class="container">

    <div class="row mt-sm-4 mt-md-0">
      <div class="col-sm-12 col-lg-7 text-sm-center text-lg-left">

        <h2>An important heading</h2>
        <p class="lead">A sort of important subheading can go here, which is larger and gray.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>

      <div class="col-sm-12 col-lg-5"
        style="background-image: url('/assets/grids/1.jpg');background-repeat: no-repeat;background-size: 100% 100%">
      </div>
    </div>
  </div>
</div>