<div class="jumbotron mt-2 bg-transparent p-1 p-sm-2 p-md-3 p-lg-4">
  <div class="row">
    <div class="anasayfa-showcase col-12 col-lg-7 text-center text-lg-left">
      <div class="anasayfa-slider">
        <div class="slider-item">
          <h1 class="display-4 text-white font-weight-bold">OBYS İle Tasarruf Ederken Kazanın</h1>
          <p class="lead text-white">Cari Operasyonlarınızı yönetirken manuel işlemlerden kurtulup, personel kaynaklı
            hataları sıfıra indirin. İşemler daha hızlı ve güvenilir hale gelirken raporlarınız anlık iletilsin.
          </p>
        </div>

        <div class="slider-item slider-hidden-item">
          <h1 class="display-4 text-white font-weight-bold">Cari Yönetimi ve Limitlendirme</h1>
          <p class="lead text-white">Akıllı Algoritma Yapısı ile sizin yerinize carileri yönetir, finansal durumlarını
            kontrol eder, limitlendirme işlemlerini gerçekleştirir.
          </p>
        </div>

        <div class="slider-item slider-hidden-item">
          <h1 class="display-4 text-white font-weight-bold">Yönetim Kolaylığı</h1>
          <p class="lead text-white">Akaryakıt Distribütörleri, carilerini daha kolay yönetip, OBYS'nin sunduğu akıllı
            raporlama sistemleri ile üst düzey memnuniyet sağlar.</p>
        </div>
      </div>

      <p class="lead">
        <a class="btn btn-success btn-lg px-4" href="#" role="button">Teklif Alın!</a>
      </p>
    </div>
  </div>
</div>
</div>
<div class="half-triangle-left">
</div>
<div class="half-triangle-right">
</div>
</div>
</div>
<div class="offer-form-card-container container d-flex justify-content-end">
  <div class="card offer-form-card mb-4 text-white border-0 border-radius-3 overflow-hidden">
    <div class="card-body pb-3">
      <h4 class="card-title">Teklif almak ister misiniz?</h4>
      <p class="card-text ">Size özel en uygun web site teklifini ihtiyaçlarınıza göre hazırlayalım.</p>
      <form action="#" method="POST" class="offer-form">
        <div class="col-12 p-0">
          <div class="input-group mb-2">
            <input type="text" class="form-control bg-transparent text-white " autocomplete="off"
              id="validationCustomUsername" placeholder="Adınız soyadınız" required />
            <div class="input-group-append">
              <span class="input-group-text  bg-transparent border-0 text-white">
                <i class="lni-user"></i>
              </span>
            </div>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
          <div class="input-group mb-2">
            <input type="text" class="form-control bg-transparent text-white " autocomplete="off"
              id="validationCustomUsername" placeholder="E-posta hesabınız" required />
            <div class="input-group-append">
              <span class="input-group-text  bg-transparent border-0 text-white">
                <i class="lni-envelope"></i>
              </span>
            </div>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
          <div class="input-group mb-2">
            <input type="text" class="form-control bg-transparent text-white " autocomplete="off"
              id="validationCustomUsername" placeholder="Telefon numaranız" required />
            <div class="input-group-append">
              <span class="input-group-text  bg-transparent border-0 text-white">
                <i class="lni-phone-handset"></i>
              </span>
            </div>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
          <div class="input-group mb-2">
            <div class="topic">
              <select class="form-control bg-transparent">
                <option selected value="Web Tasarım & Yazılım">Web Tasarım & Yazılım</option>
                <option value="Web Yazılım">Web Yazılım</option>
                <option value="SEO">SEO</option>
              </select>
              <div class="d-flex align-items-center justify-content-center p-2 bg-transparent border-0 text-white">
                <i class="lni-target"></i>
              </div>
            </div>
          </div>
          <div class="input-group mb-2">
            <textarea rows="4" type=" text" class="form-control bg-transparent text-white " autocomplete="off"
              id="validationCustomUsername" placeholder="Mesajınız" required></textarea>
            <div class="input-group-append">
              <span class="input-group-text  bg-transparent border-0 text-white">
                <i class="lni-pencil-alt"></i>
              </span>
            </div>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
        </div>
      </form>
    </div>
    <button class="btn btn-primary w-100 py-3 border-0 btn-lg border-radius-0">
      Şimdi Gönder
    </button>
  </div>
</div>
</div>

<div class="body-container mb-3 mb-md-5">

  <div class="container">

    <div class="row my-3 my-lg-5">
      <div class="col-sm-12 col-lg-7 text-sm-center text-lg-left my-2">

        <h2>An important heading</h2>
        <p class="lead">A sort of important subheading can go here, which is larger and gray.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>

      <div class="col-sm-12 col-lg-5">
        <img class="w-100" src="/public/assets/grids/16.png">
      </div>
    </div>

    <div class="row my-3 my-lg-5">
      <div class="col-sm-12 col-lg-5">
        <img class="w-100" src="/public/assets/grids/10.jpg">
      </div>
      <div class="col-sm-12 col-lg-7 text-sm-center text-lg-left my-3">

        <h2>An important heading</h2>
        <p class="lead">A sort of important subheading can go here, which is larger and gray.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>

    <div class="row my-3 my-lg-5 text-center  text-dark">
      <div class="col-12  mb-4">
        <h3 class="text-center">HİZMETLERİMİZ</h3>
        <div class="section-strip-30 mx-auto"></div>
        <p class="text-muted">
          A sort of important subheading can go here, which is larger and
        </p>
      </div>
      <div class="col-md-4 col-lg-2">
        <a href="#" class="round-card mx-auto mb-3">
          <i class="lni-bar-chart text-success"></i>
        </a>
        <h5>OBYS</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua
        </p>
      </div>
      <div class="col-md-4 col-lg-2">
        <a href="#" class="round-card mx-auto mb-3">
          <i class="lni-clipboard text-primary"></i>
        </a>
        <h5>OMYS</h5>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        </p>
      </div>
      <div class="col-md-4 col-lg-2">
        <a href="#" class="round-card mx-auto mb-3">
          <i class="lni-customer text-dark"></i>
        </a>
        <h5>AOSİS</h5>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate
        </p>
      </div>
      <div class="col-md-4 col-lg-2">
        <a href="#" class="round-card mx-auto mb-3">
          <i class="lni-coin text-warning"></i>
        </a>
        <h5>E-Tahsilat</h5>
        <p>
          A sort of important subheading can go here, which is larger and
        </p>
      </div>
      <div class="col-md-4 col-lg-2">
        <a href="#" class="round-card mx-auto mb-3">
          <i class="lni-cart text-muted"></i>
        </a>
        <h5>Akıllı Ödeme Sistemi</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        </p>
      </div>
      <div class="col-md-4 col-lg-2">
        <a href="#" class="round-card mx-auto mb-3">
          <i class="lni-link text-danger"></i>
        </a>
        <h5>ERP Sistemleri Entegrasyon</h5>
        <p>
          A sort of important subheading can go here, which is larger and
        </p>
      </div>

    </div>

    <div class="row my-5 my-lg-4 text-center  text-dark">
      <div class="col-12 mb-4">
        <h3 class="text-center">REFERANSLARIMIZ</h3>
        <div class="section-strip-30 mx-auto"></div>
        <p class="text-muted">A sort of important subheading can go here, which is larger and</p>
      </div>
      <div class="col-md-6 col-lg-4 mb-3 mb-lg-4">
        <a href="#" class="reactive-card referans-card">
          <div class="reactive-card-background" style="background-image: url('/public/assets/musteriler/4.jpg')">
          </div>
          <p
            class="reactive-card-content text-white lead d-flex align-items-center justify-content-center font-weight-medium">
            Müşteri Açıklaması 1
          </p>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-3 mb-lg-4">
        <a href="#" class="reactive-card referans-card">
          <div class="reactive-card-background" style="background-image: url('/public/assets/musteriler/7.jpg')">
          </div>
          <p
            class="reactive-card-content text-white lead d-flex align-items-center justify-content-center font-weight-medium">
            Müşteri Açıklaması 2
          </p>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 mb-3 mb-lg-4">
        <a href="#" class="reactive-card referans-card">
          <div class="reactive-card-background" style="background-image: url('/public/assets/musteriler/8.jpg')">
          </div>
          <p
            class="reactive-card-content text-white lead d-flex align-items-center justify-content-center font-weight-medium">
            Müşteri Açıklaması 3
          </p>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 mb-3 mb-lg-4">
        <a href="#" class="reactive-card referans-card">
          <div class="reactive-card-background" style="background-image: url('/public/assets/musteriler/2.jpg')">
          </div>
          <p
            class="reactive-card-content text-white lead d-flex align-items-center justify-content-center font-weight-medium">
            Müşteri Açıklaması 4
          </p>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 mb-3 mb-lg-4">
        <a href="#" class="reactive-card referans-card">
          <div class="reactive-card-background" style="background-image: url('/public/assets/musteriler/12.jpg')">
          </div>
          <p
            class="reactive-card-content text-white lead d-flex align-items-center justify-content-center font-weight-medium">
            Müşteri Açıklaması 5
          </p>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 mb-3 mb-lg-4">
        <a href="#" class="reactive-card referans-card">
          <div class="reactive-card-background" style="background-image: url('/public/assets/musteriler/13.jpg')">
          </div>
          <p
            class="reactive-card-content text-white lead d-flex align-items-center justify-content-center font-weight-medium">
            Müşteri Açıklaması 6
          </p>
        </a>
      </div>

    </div>



  </div>
</div>