<div class="header-container position-relative">
  <div id="stellar-header" class="header">
    <div class="black-cover position-relative">
      <div class="container pt-3 mb-5 position-relative">

        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom p-0 p-md-2">

          <a class="navbar-brand" href="#">STYX YAZILIM</a>

          <!--Add here -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!--Add here -->


          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Anasayfa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Hakkımızda</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
                  Ürünlerimiz
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item active" href="#">Product 1</a>
                  <a class="dropdown-item" href="#">Product 2</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Another Product</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">İletişim</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="jumbotron mt-2 bg-transparent p-1 p-sm-2 p-md-3 p-lg-5">
          <div class="row">
            <div class="col-sm-12 col-md-6 text-center text-sm-left">
              <h1 class="display-4 text-white font-weight-bold">OBYS ile Tasarruf Edin</h1>
              <p class="lead text-white">Cari Operasyonlarınızı yönetirken manuel işlemlerden kurtulup, personel
                kaynaklı
                hataları sıfıra indirin. İşemler daha hızlı ve güvenilir hale gelirken raporlarınız anlık iletilsin.
              </p>

              <p class="lead">
                <a class="btn btn-success btn-lg px-4" href="#" role="button">Teklif Alın!</a>
              </p>
            </div>
          </div>
        </div>


      </div>
      <div class="half-triangle-left">
      </div>
      <div class="half-triangle-right">
      </div>
    </div>
  </div>
  <div class="offer-form-card-container container d-flex justify-content-end">
    <div class="card offer-form-card mb-4 text-white border-0 border-radius-3 overflow-hidden">
      <div class="card-body pb-3">
        <h5 class="card-title">Teklif almak ister misiniz?</h5>
        <p class="card-text ">Size özel en uygun web site teklifini ihtiyaçlarınıza göre hazırlayalım.</p>
        <form action="#" method="POST" class="offer-form">
          <div class="col-12 p-0">
            <div class="input-group mb-2">
              <input type="text" class="form-control bg-transparent text-white " autocomplete="off"
                id="validationCustomUsername" placeholder="Adınız soyadınız" required />
              <div class="input-group-append">
                <span class="input-group-text  bg-transparent border-0 text-white">
                  <i class="fa fa-user-o"></i>
                </span>
              </div>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
            <div class="input-group mb-2">
              <input type="text" class="form-control bg-transparent text-white " autocomplete="off"
                id="validationCustomUsername" placeholder="E-posta hesabınız" required />
              <div class="input-group-append">
                <span class="input-group-text  bg-transparent border-0 text-white">
                  <i class="fa fa-envelope-o"></i>
                </span>
              </div>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
            <div class="input-group mb-2">
              <input type="text" class="form-control bg-transparent text-white " autocomplete="off"
                id="validationCustomUsername" placeholder="Telefon numaranız" required />
              <div class="input-group-append">
                <span class="input-group-text  bg-transparent border-0 text-white">
                  <i class="fa fa-phone"></i>
                </span>
              </div>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
            <div class="input-group mb-2">
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle text-left bg-transparent " href="#" role="button"
                  id="dropdownMenuLink" data-toggle="dropdown">
                  Web Tasarım & Yazılım
                </a>
                <div class="d-flex align-items-center justify-content-center p-2 bg-transparent border-0 text-white">
                  <i class="fa fa-bullseye"></i>
                </div>
                <div class="dropdown-menu">
                  <a class="dropdown-item active" href="#">Web Tasarım & Yazılım</a>
                  <a class="dropdown-item" href="#">Web Yazılım</a>
                  <a class="dropdown-item" href="#">SEO</a>
                </div>
              </div>
            </div>
            <div class="input-group mb-2">
              <textarea rows="4" type=" text" class="form-control bg-transparent text-white " autocomplete="off"
                id="validationCustomUsername" placeholder="Mesajınız" required></textarea>
              <div class="input-group-append">
                <span class="input-group-text  bg-transparent border-0 text-white">
                  <i class="fa fa-pencil"></i>
                </span>
              </div>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
        </form>
      </div>
      <button class="btn btn-primary w-100 py-3 border-0 btn-lg border-radius-0">
        Şimdi Gönder
      </button>
    </div>
  </div>
</div>

<div class="body-container" style="height: 1000px">

  <div class="container">

    <div class="row mt-sm-4 mt-md-0">
      <div class="col-sm-12 col-md-8 text-sm-center text-md-left">

        <h3>An important heading</h3>
        <p class="lead">A sort of important subheading can go here, which is larger and gray.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>

      <div class="col-sm-12 col-md-4">
        <h3 class="mb-4">Secondary Menu</h3>

        <ul class="nav flex-column nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>