<div class="error-info-container">
  <div class="error-info">
    <div class="error-code">
      404
    </div>
    <div class="error-message">
      {{trs yazilar.404_uyarisi lang}}
    </div>
    <div class="return-home">
      <a href="/{{lang}}" role="button" class="btn btn-success">{{trs yazilar.404_anasayfaya_donun lang}}</a>
    </div>
  </div>
</div>

</div>

</div>
</div>
</div>