@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/_variables";
@import "./vars";

.referans-card{
  width: 95%;
  height: 90px;
}

.round-card{
  font-size: 3rem;
}


.anasayfa-showcase{
  z-index: $showcase-z;
}

.half-triangle {
  &-right,
  &-left {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 60px solid $body-bg;
  }
  &-right {
    right:0;
    border-left: 1320px solid transparent;
    border-right: 0px solid transparent;
  }
  &-left {
    left: 0px;
    border-right: 320px solid transparent;
    border-left: 0px solid transparent;
  }
}

.offer-form-card {
  background-color: transparent;
  div.feedback-message{
    i{
      font-size:10rem;
    }
    button.close-btn{
      position: absolute;
      top:10px;
      right:0;
    };
    z-index: $validation-z + 1;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    color: white;
    text-align: center;
    font-size:1.6rem;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  div.sent-successfully{
    background-color: #28a745;
  }
  div.not-sent{
    background-color: #745656;
  }
  .card-body {
    background-color: rgba(0, 0, 0, 0.89);
  }
  .offer-form {
    .topic {
      width: 100%;
      display: flex;
      select {
        option {
          color: initial;
        }
        flex: 1;
        color: white;
        display: block;
        border-color: transparent;
        border-width: 1px;
        border-radius: 0;
        border-bottom-color: map-get($grays, "600");
        &:focus {
          box-shadow: none;
          border-color: transparent;
          border-bottom-color: map-get($grays, "200");
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .referans-card{
    height: 120px;
  }
  .header {
    background-size: 210%;
  }

  .half-triangle {
    &-left {
      border-right: 600px solid transparent;
    }
  }
}
@media (min-width: 768px) {
  .offer-form-card {
    width: 100%;
  }
  .header {
    background-size: 250%;
    .black-cover {
      padding-bottom: 120px;
      margin-bottom: 100px;
    }
  }
}
@media (min-width: 992px) {
  .round-card{
    &:hover{
      font-size: 4rem;
    }
  }
  .offer-form-card-container {
    top: 110px;
    position: absolute;
    z-index: $showcase-z - 100;
    left: 0;
    right: 0;
  }
  .offer-form-card {
    width: 350px;
    .card-body {
      background-color: rgba(0, 0, 0, 0.75);
    }
  }
  .header {
    background-size: 230%;
  }
}
@media (min-width: 1200px) {
  .header {
    background-size: 168%;
    .black-cover {
      padding-bottom: 60px;
      margin-bottom: 50px;
    }
  }
}
@media (min-width: 1600px) {
  .offer-form-card {
    width: 420px;
  }
  .header {
    background-size: 130%;
  }
}
