@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/_variables";
@import "./vars";

.referans-card{
  width: 95%;
  height: 200px;
}

.round-card{
  font-size: 3rem;
}


.anasayfa-showcase{
  z-index: $showcase-z;
}

.half-triangle {
  &-right,
  &-left {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 60px solid $body-bg;
  }
  &-left {
    left:600px;
    border-left: 1320px solid transparent;
    border-right: 0px solid transparent;
  }
  &-right {
    left: 0px;
    border-right: 600px solid transparent;
    border-left: 0px solid transparent;
  }
}

.offer-form-card {
  background-color: transparent;
  .card-body {
    background-color: rgba(0, 0, 0, 0.89);
  }
  .offer-form {
    .topic {
      width: 100%;
      display: flex;
      select {
        option {
          color: initial;
        }
        flex: 1;
        color: white;
        display: block;
        border-color: transparent;
        border-width: 1px;
        border-radius: 0;
        border-bottom-color: map-get($grays, "600");
        &:focus {
          box-shadow: none;
          border-color: transparent;
          border-bottom-color: map-get($grays, "200");
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .header {
    background-size: 210%;
  }
}
@media (min-width: 768px) {
  .referans-card{
    height: 200px;
  }
  .offer-form-card {
    width: 100%;
  }
  .header {
    background-size: 250%;
    .black-cover {
      padding-bottom: 120px;
      margin-bottom: 100px;
    }
  }
}
@media (min-width: 992px) {
  .round-card{
    &:hover{
      font-size: 4rem;
    }
  }
  .referans-card{
    width: 90%;
    height: 200px;
  }
  .offer-form-card-container {
    top: 150px;
    position: absolute;
    z-index: 400;
    left: 0;
    right: 0;
  }
  .offer-form-card {
    width: 350px;
    .card-body {
      background-color: rgba(0, 0, 0, 0.75);
    }
  }
  .header {
    background-size: 230%;
  }
}
@media (min-width: 1200px) {
  .header {
    background-size: 168%;
    .black-cover {
      padding-bottom: 100px;
      margin-bottom: 50px;
    }
  }
}
@media (min-width: 1600px) {
  .offer-form-card {
    width: 420px;
  }
  .header {
    background-size: 130%;
  }
}
