$theme-colors: (
  "primary": #008cff
);
$body-bg: #fbfbfb;

$enable-responsive-font-sizes: true;
$mobile-popup-z: 5000;
$menu-z:2000;

@import "node_modules/bootstrap/scss/bootstrap";

.menu-container{
  position: relative;
  .menu{
    z-index: $menu-z;
    width: max-content;
    position: absolute;
    top:calc( 100% + 0.1rem );
    background-color: map-get($grays, "100");
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0rem;
    border-radius: 2px;
    .menu-item{
      transition: background-color 100ms ease-in;
      color: map-get($grays, "900");
      background-color: map-get($grays, "100");
      padding: 0.5rem 0.75rem;
      &:hover{
        background-color: map-get($grays, "200");
      }
    }
  }
}

.header {
  background-image: url("/public/assets/anasayfa-background-3.jpg");
  background-size: 250%;
  background-position: 0 -50px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  .black-cover {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
    width: 100%;
    overflow: hidden;
  }
}

.border-radius-0 {
  border-radius: 0;
}

textarea {
  resize: none;
}

.dropdown-menu {
  border-width: 0px;
}

a{
  color: map-get($grays, "200");
  text-decoration: none;
  &:hover{
    color: map-get($grays, "200");
    text-decoration: none;
  }
}

button.btn{
  &.btn-link{
    color: map-get($grays, "200");
    text-decoration: none;
  }
}

.btn {
  &:focus {
    box-shadow: none !important;
    border-color: transparent;
  }

  &:active {
    box-shadow: none !important;
    border-color: transparent;
  }
}

.form-control {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: map-get($grays, "300");
    opacity: 1; /* Firefox */
  }
  border-color: transparent;
  border-width: 1px;
  border-radius: 0;
  border-bottom-color: map-get($grays, "600");
  &:focus {
    box-shadow: none;
    border-color: transparent;
    border-bottom-color: map-get($grays, "200");
  }
}

.jumbotron {
  border-top: 3px solid map-get($theme-colors, "primary");
  border-radius: 0;
}

.mobile-popup{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex:1;
  z-index: $mobile-popup-z;
  background-color: rgba(0, 0, 0, 0.88);
  font-size: 2rem;
  button.close-menu.btn{
    font-size: 4rem;
    align-items: flex-end;
    right: 10px;
    top:0;
    padding: 0 0.75rem;
  }
  a.btn,button.btn{
    font-size: 2rem;
  }
}

.mobile-navbar{
  .navbar-links{
    list-style: none;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    .nav-item{
      display: flex;
      justify-content: center;
      .nav-link{
        color: map-get($grays, "200");
      }
    }
  }
}

.navbar-custom {
  background-color: transparent;
  .navbar-links-container{
    display: none;
  }
  .navbar-brand,
  .navbar-text {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
  }

  .navbar-toggler{
    border:none;
    outline: none;
    color:map-get($grays, "300")
  }

  .navbar-nav {
    .nav-link {
      color: rgba(255, 255, 255, 0.85);
    }
  }

  .nav-item {
    &.active {
      .nav-link {
        color: #ffffff;
      }
    }
    &:hover {
      .nav-link {
        color: #ffffff;
      }
    }
  }
}

.half-triangle {
  &-right,
  &-left {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 40px solid $body-bg;
  }
  &-left {
    border-left: 0px solid transparent;
    border-right: 1920px solid transparent;
  }
  &-right {
    left: 600px;
    border-right: 0px solid transparent;
    border-left: 0 solid transparent;
  }
}


@media (min-width: 576px) {
  .header {
    background-size: 210%;
  }
}
@media (min-width: 768px) {
  .header {
    background-size: 250%;
  }
}
@media (min-width: 992px) {
  .header {
    background-size: 230%;
  }
  .navbar-custom{
    .navbar-links-container{
      display: flex;
      flex:1;
      .navbar-links{
        list-style: none;
        margin: 0;
        margin-left: auto;
        padding: 0;
        .nav-item{
          display: inline-block;
          .nav-link{
            color: map-get($grays, "200");
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .header {
    background-size: 140%;
  }
}
@media (min-width: 1600px) {
  .header {
    background-size: 100%;
  }
}
