$theme-colors: (
  "primary": #008cff
);
$body-bg: #fbfbfb;

$enable-responsive-font-sizes: true;

@import "node_modules/bootstrap/scss/bootstrap";

.header {
  background-image: url("/assets/anasayfa-background-3.jpg");
  background-size: 250%;
  background-position: 0 -50px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  .black-cover {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
    width: 100%;
    overflow: hidden;
  }
}

.border-radius-0 {
  border-radius: 0;
}

textarea {
  resize: none;
}

.dropdown-menu {
  border-width: 0px;
}

.btn {
  &:focus {
    box-shadow: none !important;
    border-color: transparent;
  }

  &:active {
    box-shadow: none !important;
    border-color: transparent;
  }
}

.form-control {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: map-get($grays, "300");
    opacity: 1; /* Firefox */
  }
  border-color: transparent;
  border-width: 1px;
  border-radius: 0;
  border-bottom-color: map-get($grays, "600");
  &:focus {
    box-shadow: none;
    border-color: transparent;
    border-bottom-color: map-get($grays, "200");
  }
}

.jumbotron {
  border-top: 3px solid map-get($theme-colors, "primary");
  border-radius: 0;
}

.navbar-custom {
  background-color: #ffffff00;
  .navbar-brand,
  .navbar-text {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 600;
  }

  .navbar-nav {
    .nav-link {
      color: rgba(255, 255, 255, 0.85);
    }
  }

  .nav-item {
    &.active {
      .nav-link {
        color: #ffffff;
      }
    }
    &:hover {
      .nav-link {
        color: #ffffff;
      }
    }
  }
}

.half-triangle {
  &-right,
  &-left {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 40px solid $body-bg;
  }
  &-left {
    border-left: 0px solid transparent;
    border-right: 1920px solid transparent;
  }
  &-right {
    left: 600px;
    border-right: 0px solid transparent;
    border-left: 0 solid transparent;
  }
}

@media (min-width: 576px) {
  .header {
    background-size: 210%;
  }
}
@media (min-width: 768px) {
  .header {
    background-size: 250%;
  }
}
@media (min-width: 992px) {
  .header {
    background-size: 230%;
  }
}
@media (min-width: 1200px) {
  .header {
    background-size: 140%;
  }
}
@media (min-width: 1600px) {
  .header {
    background-size: 100%;
  }
}
