$theme-primary-color:#0077ff;

$theme-colors: (
  "primary": $theme-primary-color
);
$body-bg: #fbfbfb;

$enable-responsive-font-sizes: true;
$mobile-popup-z: 5000;
$menu-z:2000;
$showcase-z:1000;
$color-transition-duration: 150ms;
$reactive-card-content-z:900;
$link-color: #ffc400;